# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=match_queue

# CockroachDB Configuration
CRDB_HOST=crdb1
CRDB_PORT=26257
CRDB_DATABASE=cs2analytics
CRDB_USER=root

# Shared Volume
SHARED_VOLUME_PATH=/shared/uploads

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True